<style>
    h3#title-text {
        font-size: 20px;
    }
    input {
        background-color: green;
    }
    button {
        width: 100px;
        height: 100px;
    }
    .common-style {
        display: flex;
    }
    label {
        background-color: green;
    }
    div:nth-of-type(1) h1 { color: green; }
    div:nth-of-type(2) h1 { color: orange; }
    div:nth-of-type(3) h1 { color: red; }
</style>
<div>
  <h3 id="title-text" class="common-style title-style">Title</h3>
  <div>
    <label for="username-input">Username</label>
    <input type="text" id="username-input" class="common-style input-style" />
  </div>
  <div>
    <label for="password-input">Password</label>
    <input type="password" id="password-input" class="common-style input-style" />
  </div>
  <button id="login-button" class="common-style button-style">Login</button>
</div>
<div>
  <div>
    <h1>Hello!</h1>
  </div>
  <div>
    <h1>Hello!</h1>
  </div>
  <div>
    <h1>Hello!</h1>
  </div>
</div>